@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "common/breakpoints";
@import "common/color";
@import "common/font";

body {
  background-color: $bg-white;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0.6px;
  font-weight: $normal;
  color: $font-gray;
  display: inline-grid;
  a {
    color: $font-gray;
    letter-spacing: 0.6px;
    font-weight: $normal;
  }
  a:hover {
    color: $font-gray;
    text-shadow: 1px 1px rgba(200,200,200,0.3);
  }
  li {
    letter-spacing: 0.6px;
    font-weight: $normal;
  }
}

.medium.text {
  font-size: 1.4em;
  line-height: 1.3em;
  letter-spacing: 1px;
  @media #{$small-device} {
    font-size: 1.3em;
    line-height: 1.2em;
  }
}

.large.text {
  font-size: 1.6em;
  line-height: 1.6em;
  letter-spacing: 1px;
  @media #{$small-device} {
    font-size: 1.5em;
    line-height: 1.4em;
  }
}

.green-bg {
  background: $my-green !important;
  color: $bg-white !important;
  border-color: $bg-white;
  a {
    color: $bg-white;
  }
  a:hover {
    color: $bg-white;
    text-shadow: 1px 1px rgba(9,9,9,0.6);
  }
  .my-centerheader {
    text-shadow: 2px 2px rgba(20,20,20,0.1);
  }
}

.yellow-bg {
  background: $my-yellow !important;
  color: $bg-white !important;
  border-color: $bg-white;
  a {
    color: $bg-white;
  }
  a:hover {
    color: $bg-white;
    text-shadow: 1px 1px rgba(9,9,9,0.6);
  }
  .my-centerheader {
    text-shadow: 2px 2px rgba(20,20,20,0.1);
  }
}

#mainMenu {
  background-color: $bg-white;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid $font-gray;
  @media #{$small-device} {
    padding-left: 0;
  }
}

#body-container {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $bg-white;
}

#content-container {
  background-color: $bg-white;
  width: 100%;
  padding: 30px 10%;
  display: inline-block;
  @media #{$small-device} {
    padding: 30px 5%;
  }
}

.secondary-container {
  width: 100%;
  padding: 0 10%;
  display: inline-block;
  @media #{$small-device} {
    padding: 0 5%;
  }
}

.my-header {
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.7em;
}

.my-centerheader {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: $bold;
  margin: 20px 0;
  text-shadow: 2px 2px rgba(200,200,200,0.1);
}

.my-subheader {
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px;
}

.subheader{
  margin: 1.2em 0 0.8em 0;
}

.tab {
  padding-left: 20px;
}

.my-content {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  padding: 0 5% 30px 5%;
  font-size: 1.2em;
  line-height: 1.2em;
  @media #{$small-device} {
    font-size: 1em;
    padding-bottom: 10px;
    line-height: 1em;
  }
  li {
    margin-bottom: 10px;
  }
}

a.greenlink {
  font-weight: $bold;
  color: $my-green;
  &hover {
    color: $font-gray;
  }
}

.center-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.small-wrapper {
  width: 100%;
  display: inline-block;
  max-width: 768px;
}


.two-button-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-around;
}

.large-only {
  @media #{$small-device} {
    display: none !important;
  }
}

.small-only {
  @media #{$large-device} {
    display: none !important;
  }
}

#footer {
  width: 100%;
  display: flex;
  border-top: 1px solid $font-gray;
  justify-content: center;
  padding: 30px 0;
  span {
    display: flex;
    align-content: center;
    margin: 0 5px;
  }
  img {
    margin-right: 3px;
    height: 1.5em;
    @media #{$small-device} {
      height: 1.4em;
    }
  }
}

#copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 3px 0;
}

#scrollTop {
    position: fixed;
    opacity: 0.5;
    z-index: 20;
    bottom: 10%;
    right: 20px;
}

.contest-header{
  width: 100%;
  margin-top: 40px;
  padding: 60px 7% 0 7%;
  display: inline-block;
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 700;
  @media #{$small-device} {
    padding: 50px 5% 0 5%;
    font-size: 1.4em;
    line-height: 1.4em;
  }
}

.contest_btns {
  width: 90%;
  text-align: center;
  .column {
    padding: 0 !important;
  }
  a {
    display: inline-grid;
    width: 100%;
    border-right: 1px solid $font-gray;
    @media #{$small-device} {
      border-left: 1px solid $font-gray;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .noline {
    border-left: none;
    border-right: none;
    @media #{$small-device} {
      border-right: 1px solid $font-gray;
    }
  }
}

.ui.centered.card {
  background: rgba(255, 255, 255, 0.3) !important;
}
