@import "common/breakpoints";
@import "common/color";
@import "common/font";

.slogan-topic {
  color: #3C5562;
  letter-spacing: 3px !important;
}

.slogan-wrapper {
  background-color: #F8F8F8;
  display: inline-block;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

.slogan-item {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 0px;
  align-items: center;
  display: flex;
  img {
    margin-right: 10px;
    display: inline;
    height: 45px;
    @media #{$small-device} {
      height: 35px;
    }
  }
}

.new-more-image-container {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  img {
    height: 100%;
  }
  &:hover {
    img {
      transition: 0.5s;
      opacity: 0.6;
    }
  }
}

