@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  background-color: #edebe6;
  font-family: ‘Noto Sans TC’, sans-serif;
  letter-spacing: 0.6px;
  font-weight: 450;
  color: #707070;
  display: inline-grid; }
  body a {
    color: #707070;
    letter-spacing: 0.6px;
    font-weight: 450; }
  body a:hover {
    color: #707070;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.3); }
  body li {
    letter-spacing: 0.6px;
    font-weight: 450; }

.medium.text {
  font-size: 1.4em;
  line-height: 1.3em;
  letter-spacing: 1px; }
  @media screen and (max-width: 768px) {
    .medium.text {
      font-size: 1.3em;
      line-height: 1.2em; } }

.large.text {
  font-size: 1.6em;
  line-height: 1.6em;
  letter-spacing: 1px; }
  @media screen and (max-width: 768px) {
    .large.text {
      font-size: 1.5em;
      line-height: 1.4em; } }

.green-bg {
  background: #2d4e4b !important;
  color: #edebe6 !important;
  border-color: #edebe6; }
  .green-bg a {
    color: #edebe6; }
  .green-bg a:hover {
    color: #edebe6;
    text-shadow: 1px 1px rgba(9, 9, 9, 0.6); }
  .green-bg .my-centerheader {
    text-shadow: 2px 2px rgba(20, 20, 20, 0.1); }

.yellow-bg {
  background: #F5C03D !important;
  color: #edebe6 !important;
  border-color: #edebe6; }
  .yellow-bg a {
    color: #edebe6; }
  .yellow-bg a:hover {
    color: #edebe6;
    text-shadow: 1px 1px rgba(9, 9, 9, 0.6); }
  .yellow-bg .my-centerheader {
    text-shadow: 2px 2px rgba(20, 20, 20, 0.1); }

#mainMenu {
  background-color: #edebe6;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #707070; }
  @media screen and (max-width: 768px) {
    #mainMenu {
      padding-left: 0; } }

#body-container {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #edebe6; }

#content-container {
  background-color: #edebe6;
  width: 100%;
  padding: 30px 10%;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    #content-container {
      padding: 30px 5%; } }

.secondary-container {
  width: 100%;
  padding: 0 10%;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .secondary-container {
      padding: 0 5%; } }

.my-header {
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.7em; }

.my-centerheader {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: 700;
  margin: 20px 0;
  text-shadow: 2px 2px rgba(200, 200, 200, 0.1); }

.my-subheader {
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px; }

.subheader {
  margin: 1.2em 0 0.8em 0; }

.tab {
  padding-left: 20px; }

.my-content {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  padding: 0 5% 30px 5%;
  font-size: 1.2em;
  line-height: 1.2em; }
  @media screen and (max-width: 768px) {
    .my-content {
      font-size: 1em;
      padding-bottom: 10px;
      line-height: 1em; } }
  .my-content li {
    margin-bottom: 10px; }

a.greenlink {
  font-weight: 700;
  color: #2d4e4b; }
  a.greenlinkhover {
    color: #707070; }

.center-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0; }

.small-wrapper {
  width: 100%;
  display: inline-block;
  max-width: 768px; }

.two-button-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-around; }

@media screen and (max-width: 768px) {
  .large-only {
    display: none !important; } }

@media screen and (min-width: 769px) {
  .small-only {
    display: none !important; } }

#footer {
  width: 100%;
  display: flex;
  border-top: 1px solid #707070;
  justify-content: center;
  padding: 30px 0; }
  #footer span {
    display: flex;
    align-content: center;
    margin: 0 5px; }
  #footer img {
    margin-right: 3px;
    height: 1.5em; }
    @media screen and (max-width: 768px) {
      #footer img {
        height: 1.4em; } }

#copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 3px 0; }

#scrollTop {
  position: fixed;
  opacity: 0.5;
  z-index: 20;
  bottom: 10%;
  right: 20px; }

.contest-header {
  width: 100%;
  margin-top: 40px;
  padding: 60px 7% 0 7%;
  display: inline-block;
  font-size: 2em;
  line-height: 1.6em;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .contest-header {
      padding: 50px 5% 0 5%;
      font-size: 1.4em;
      line-height: 1.4em; } }

.contest_btns {
  width: 90%;
  text-align: center; }
  .contest_btns .column {
    padding: 0 !important; }
  .contest_btns a {
    display: inline-grid;
    width: 100%;
    border-right: 1px solid #707070; }
    @media screen and (max-width: 768px) {
      .contest_btns a {
        border-left: 1px solid #707070; } }
  .contest_btns .noline {
    border-left: none;
    border-right: none; }
    @media screen and (max-width: 768px) {
      .contest_btns .noline {
        border-right: 1px solid #707070; } }

/*# sourceMappingURL=main.css.map */
